<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="../static/script.js"></script>
    <link rel="icon" href="https://icon-library.com/images/drawer-front-upload-output-arrow-up-512.png"
        type="image/x-icon">
    <title> Output </title>
</head>

<body>
    <div class="text-center">
        <h1> QR Code Download </h1>

        <img src="../static/image.png" alt="QR code can't load."><br>

        <a href="../static/image.png" download="image.png">Save the QR Code to your computer.</a><br>

        <a class="nav-item nav-link" href="/">Back</a>
    </div>
</body>

</html>